{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans "Email Sent" %}{% endblock %}
{% block content %}
<section class="py-20 bg-gray-100">
    <div class="max-w-md mx-auto bg-white p-6 rounded-lg shadow">
        <h1 class="text-2xl font-bold mb-4">{% trans "Email Sent" %}</h1>
        <h1 class="text-2xl font-bold mb-4">{% trans "Էլ. փոստը ուղարկված է" %}</h1>
        <p>{% trans "We have sent you an email with instructions to reset your password." %}</p>
    </div>
</section>
{% endblock %}