/* src/components/SocialProof.css */
.social-proof {
    padding: 2rem;
    text-align: center;
    color: #888;
}

.logos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 1rem;
    flex-wrap: wrap; /* Для мобильных устройств */
}

.logos-container img {
    height: 30px; /* Размер логотипов */
    opacity: 0.6;
}