{% extends 'base.html' %}

{% block title %}Գնային պլաններ{% endblock %}

{% block content %}
    <h1>Գնային պլաններ</h1>
    <div class="plans">
        {% for plan in plans %}
            <div class="plan">
                <h2>{{ plan.name }}</h2>
                <p>Գին: {{ plan.price }}</p>
                <p>Հնարավորություններ: {{ plan.features }}</p>
                <a href="{% url 'registration:register_plan' plan.id %}">Ընտրել պլան</a>
            </div>
        {% empty %}
            <p>Գնային պլաններ չկան:</p>
        {% endfor %}
    </div>
{% endblock %}